<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nantian.archives.mapper.UserFilePermissionMapper">
    <select id="getFileIsPermission"  resultType="int">
       select count(*)   from d_user_file_permission  duf1p  where duf1p.file_id=#{fileId}  and  duf1p.audit_status=1
and duf1p.end_time>=now()
    </select>
</mapper>